<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="WebSharper" version="3.0.7.80-alpha" targetFramework="net40" />
  <package id="WebSharper.BabylonJs" version="3.0.6.38-alpha" targetFramework="net40" />
  <package id="WebSharper.TypeScript.Lib" version="3.0.53-alpha" targetFramework="net40" />
</packages>
